.card-wrap.svelte-vd84gr.svelte-vd84gr {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: var(--24px);
  padding: var(--24px);
  display: flex;
  flex-direction: column
}

@media (min-width: 992px) {
  .card-wrap.svelte-vd84gr.svelte-vd84gr {
    padding: var(--42px) var(--64px) 0;
    border-radius: var(--64px)
  }
}

.card.svelte-vd84gr.svelte-vd84gr {
  --_background: var(--background, var(--color-red));
  --_color: var(--color, var(--color-beige));
  --_grid-column-start: var(--grid-column-start, 1);
  --_grid-column-end: var(--grid-column-end, 26);
  width: 100%;
  color: var(--_color);
  background: var(--_background);
  border-radius: var(--24px);
  max-height: 20rem;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 26;
  cursor: pointer;
  transition: all .5s var(--transition-bounce);
  display: flex;
  flex-direction: column;
  text-decoration: none
}

@media (min-width: 992px) {
  .card.svelte-vd84gr.svelte-vd84gr {
    max-height: 550px;
    border-radius: var(--64px);
    grid-column-start: var(--_grid-column-start);
    grid-column-end: var(--_grid-column-end)
  }
}

.card.large.svelte-vd84gr.svelte-vd84gr {
  height: 660px
}

@media (min-width: 544px) {
  .card.svelte-vd84gr.svelte-vd84gr:hover {
    transform: translate3d(0, -3px, 0);
    box-shadow: var(--shadow-lg);
    filter: saturate(1.2)
  }
}

.card.svelte-vd84gr:hover .card-flourish img.svelte-vd84gr {
  transform: translateZ(0);
  opacity: 1
}

.card.svelte-vd84gr:hover .inner.svelte-vd84gr {
  transform: translate3d(0, 1rem, 0)
}

.card.svelte-vd84gr.svelte-vd84gr:active {
  transform: translateZ(0);
  box-shadow: none
}

.inner.svelte-vd84gr.svelte-vd84gr {
  position: relative;
  z-index: var(--zindex-content);
  transition: all .8s var(--transition-bounce);
  display: flex;
  flex: 1;
  justify-content: center;
  --_align: var(--align, flex-end);
  align-items: var(--_align);
  margin-top: var(--42px)
}

span.svelte-vd84gr.svelte-vd84gr {
  font-size: var(--15px);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500
}

.info.svelte-vd84gr.svelte-vd84gr {
  text-align: right;
  display: flex;
  flex-direction: column;
  z-index: var(--zindex-top)
}

.card-flourish.svelte-vd84gr.svelte-vd84gr {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  display: none
}

@media (min-width: 1600px) {
  .card-flourish.svelte-vd84gr.svelte-vd84gr {
    display: flex
  }
}

.card-flourish.svelte-vd84gr img.svelte-vd84gr {
  position: absolute;
  opacity: 0;
  transition: all .2s ease-in-out;
  transform: translate3d(0, 10px, 0)
}

.image-holder.svelte-1eg3i2g {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px
}

.cards.svelte-1eg3i2g {
  margin-top: var(--spacing-l)
}

.hs.svelte-1eg3i2g {
  top: 0;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}

@media (min-width: 768px) {
  .hs.svelte-1eg3i2g {
    top: 0
  }
}

.cards.svelte-131t5ir {
  margin-top: var(--spacing-l);
  padding: 0 calc(var(--24px) + 6px) calc(var(--64px))
}

@media (min-width: 768px) {
  .cards.svelte-131t5ir {
    padding: 0 calc(var(--24px) + 6px) calc(var(--64px) * 2)
  }
}