.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400vh;
  /* background: #111; */
  width: 100%;
  overflow: hidden;
}




.ring2 {
  position: fixed;
  width: 120%;
  height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring2 i {
  position: absolute;
  inset: 0;
  border: 2px solid #ffffff;
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
  transition: 0.5s;
}

.ring2 i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 60s linear infinite;
}

.ring2 i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 70%;
  animation: animate 120s linear infinite;
}

.ring2 i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 50%;
  animation: animate2 90s linear infinite;
}